Вам предстоит проанализировать данные о бронировании отелей.

# Задание 1. 

Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;. 
Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

Описание данных.
Имеются следующие переменные:

Hotel – тип отеля (City Hotel или Resort Hotel)

Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным

Lead time – количество дней, прошедших между датой бронирования и датой прибытия

Arrival full date – полная дата прибытия

Arrival date year – год прибытия

Arrival date month – месяц прибытия

Arrival date week number – номер недели прибытия

Arrival date day of month – день прибытия

Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле

Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле

Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)

Adults – число взрослых

Children – число детей

Babies – число младенцев

Meal – выбранный тип питания

Country – страна происхождения клиента

Reserved room type – тип зарезервированного номера

Assigned room type – тип полученного номера (может отличаться от забронированного)

Customer type – тип бронирования

Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину

Reservation status date – дата обновления статуса

In [3]:
# Task 1
import pandas as pd

# Load the dataset
df = pd.read_csv('2_bookings.csv', encoding='windows-1251', sep=';')

# Task 1
df.columns = [column.replace(" ", "_").lower() for column in df.columns]

# Check the size of the table
print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns.")

# Check the data types of the variables
print(df.dtypes)

# Print the first 7 rows
print(df.head(7))

The dataset has 119390 rows and 21 columns.
hotel                         object
is_canceled                    int64
lead_time                      int64
arrival_full_date             object
arrival_date_year              int64
arrival_date_month            object
arrival_date_week_number       int64
arrival_date_day_of_month      int64
stays_in_weekend_nights        int64
stays_in_week_nights           int64
stays_total_nights             int64
adults                         int64
children                     float64
babies                         int64
meal                          object
country                       object
reserved_room_type            object
assigned_room_type            object
customer_type                 object
reservation_status            object
reservation_status_date       object
dtype: object
          hotel  is_canceled  lead_time arrival_full_date  arrival_date_year  \
0  Resort Hotel            0        342        2015-07-01               2015
1  Resort Hotel            0        737        2015-07-01               2015
2  Resort Hotel            0          7        2015-07-01               2015
3  Resort Hotel            0         13        2015-07-01               2015
4  Resort Hotel            0         14        2015-07-01               2015
5  Resort Hotel            0         14        2015-07-01               2015
6  Resort Hotel            0          0        2015-07-01               2015

  arrival_date_month  arrival_date_week_number  arrival_date_day_of_month  \
0               July                        27                          1
1               July                        27                          1
2               July                        27                          1
3               July                        27                          1
4               July                        27                          1
5               July                        27                          1
6               July                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  ...  adults  children  \
0                        0                     0  ...       2       0.0
1                        0                     0  ...       2       0.0
2                        0                     1  ...       1       0.0
3                        0                     1  ...       1       0.0
4                        0                     2  ...       2       0.0
5                        0                     2  ...       2       0.0
6                        0                     2  ...       2       0.0

   babies  meal country reserved_room_type assigned_room_type customer_type  \
0       0    BB     PRT                  C                  C     Transient
1       0    BB     PRT                  C                  C     Transient
2       0    BB     GBR                  A                  C     Transient
3       0    BB     GBR                  A                  A     Transient
4       0    BB     GBR                  A                  A     Transient
5       0    BB     GBR                  A                  A     Transient
6       0    BB     PRT                  C                  C     Transient

  reservation_status reservation_status_date
0          Check-Out              2015-07-01
1          Check-Out              2015-07-01
2          Check-Out              2015-07-02
3          Check-Out              2015-07-02
4          Check-Out              2015-07-03
5          Check-Out              2015-07-03
6          Check-Out              2015-07-03

[7 rows x 21 columns]

# Задание 2. 
Сохраните прочитанный датасет в bookings.
Затем запишите первые 7 строк в переменную bookings_head.

In [4]:
# Task 2

bookings = df
bookings_head = bookings.head(7)

# Задание 3. 

Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [5]:
# Task 3
print(f"The dataset has {bookings.shape[1]} columns.")

The dataset has 21 columns.

# Задание 4. 

К какому типу относится большинство переменных?

In [6]:
# Task 4
print(f"The majority of the variables are of {bookings.dtypes.value_counts().idxmax()} type.")

The majority of the variables are of object type.

# Задание 5.

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны 
в неудобном для дальнейшей работы формате. Исправьте ситуацию, 
приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.

Например: Is Canceled -> is_canceled

Подсказка: вы можете использовать цикл, который будет проходить по bookings.columns, а в теле цикла использовать методы строк:

column.replace(" ", "_").lower()

In [7]:
# Task 5
bookings.columns = [column.replace(" ", "_").lower() for column in bookings.columns]

bookings

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

# Задание 6.

Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

Подсказка: здесь необходимо сделать группировку по ['country'] и агрегирование по сумме 'is_canceled'.

In [8]:
# Task 6
successful_bookings = bookings[bookings['is_canceled'] == 0]
top_5_countries = successful_bookings['country'].value_counts().head(5).index.tolist()
print("The top 5 countries with the most successful bookings are:", ", ".join(top_5_countries))

The top 5 countries with the most successful bookings are: PRT, GBR, FRA, ESP, DEU

# Задание 7.

На сколько ночей (stays_total_nights) в среднем бронируют отели типа City Hotel? Resort Hotel?

In [9]:
# Task 7
print(f"The average stay for City Hotels is {bookings[bookings['hotel'] == 'City Hotel']['stays_total_nights'].mean():.2f} nights.")
print(f"The average stay for Resort Hotels is {bookings[bookings['hotel'] == 'Resort Hotel']['stays_total_nights'].mean():.2f} nights.")

The average stay for City Hotels is 2.98 nights.
The average stay for Resort Hotels is 4.32 nights.

# Задание 8.

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

*отмена бронирования также считается


Подсказка: воспользуйтесь  .query('reserved_room_type != assigned_room_type')

In [10]:
# Task 8
different_room_types = bookings.query('reserved_room_type != assigned_room_type').shape[0]
print(f"There are {different_room_types} observations where the reserved room type is different from the assigned room type.")

There are 14917 observations where the reserved room type is different from the assigned room type.

# Задание 9.

Теперь проанализируйте даты запланированного прибытия (arrival_date_year). На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

Вам пригодится arrival_date_month.agg(pd.Series.mode) - Mode - возвращает самое часто встречаемое значение, если таких несколько возвращает их все

In [11]:
# Task 9
# 2016
most_popular_month_2016 = bookings[bookings['arrival_date_year'] == 2016]['arrival_date_month'].mode().values[0]
print(f"The most popular month for bookings in 2016 was {most_popular_month_2016}.")

# 2017
most_popular_month_2017 = bookings[bookings['arrival_date_year'] == 2017]['arrival_date_month'].mode().values[0]
print(f"The most popular month for bookings in 2017 was {most_popular_month_2017}.")

The most popular month for bookings in 2016 was October.
The most popular month for bookings in 2017 was May.

# Задание 10.

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа 
City Hotel отменялись чаще всего в 2015? 2016? 2017?

Подсказка: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий

Например:

df.groupby('column_1')['column_2'].what_to_do()

In [12]:
# Task 10
# 2015
city_hotel_cancellations_2015 = bookings[(bookings['hotel'] == 'City Hotel') & (bookings['arrival_date_year'] == 2015) & (bookings['is_canceled'] == 1)]['arrival_date_month'].mode().values[0]
print(f"The most common month for City Hotel cancellations in 2015 was {city_hotel_cancellations_2015}.")

# 2016
city_hotel_cancellations_2016 = bookings[(bookings['hotel'] == 'City Hotel') & (bookings['arrival_date_year'] == 2016) & (bookings['is_canceled'] == 1)]['arrival_date_month'].mode().values[0]
print(f"The most common month for City Hotel cancellations in 2016 was {city_hotel_cancellations_2016}.")

# 2017
city_hotel_cancellations_2017 = bookings[(bookings['hotel'] == 'City Hotel') & (bookings['arrival_date_year'] == 2017) & (bookings['is_canceled'] == 1)]['arrival_date_month'].mode().values[0]
print(f"The most common month for City Hotel cancellations in 2017 was {city_hotel_cancellations_2017}.")

The most common month for City Hotel cancellations in 2015 was September.
The most common month for City Hotel cancellations in 2016 was October.
The most common month for City Hotel cancellations in 2017 was May.

# Задание 11.

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [13]:
# Task 11
print(f"The variable with the highest mean is '{bookings[['adults', 'children', 'babies']].mean().idxmax()}' with a mean of {bookings[['adults', 'children', 'babies']].mean()[bookings[['adults', 'children', 'babies']].mean().idxmax()]:.2f}.")

The variable with the highest mean is 'adults' with a mean of 1.86.

# Задание 12

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

City hotel – отель находится в городе Resort hotel – отель курортный

В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.


Подсказка: Создать новый столбец из 2-х предыдущих довольно просто, например
bookings['новый столбец'] = bookings.старый_столбец_1 + bookings.старый_столбец_2

In [14]:
# Task 12
# Create the 'total_kids' column
bookings['total_kids'] = bookings['children'] + bookings['babies']

# Calculate the average 'total_kids' for each hotel type
city_hotel_avg_total_kids = bookings[bookings['hotel'] == 'City Hotel']['total_kids'].mean()
resort_hotel_avg_total_kids = bookings[bookings['hotel'] == 'Resort Hotel']['total_kids'].mean()

# Find the largest average
max_avg_total_kids = max(city_hotel_avg_total_kids, resort_hotel_avg_total_kids)
print(f"The largest average 'total_kids' is {max_avg_total_kids:.2f}.")

The largest average 'total_kids' is 0.14.